* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

/* mobile **************************/
header {
	background-color: blueviolet;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}

header,
main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

h2 {
	text-align: center;
}



nav {
	background-color: #36454f;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline double;
	
}


.active {
	color: yellow;
}




#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--second-color);	
	
}

#menu::before {
	content: "☰";
	cursor: pointer;
	
}

#menu.open::before {
	content: "X";
	cursor: pointer;
	
}
















